.header {
  position: fixed;
  z-index: 100;
}
.header.wrapper {
  position: relative;
  width: 100vw;
  z-index: 100;
  height: 5vh;
  background: rgba(255, 255, 255, 0%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.17s;
}
.wrapper:hover {
  height: 8vh;
  background: rgba(0, 0, 0, 30%);
  color: aliceblue;
  transition: 0.17s;
}
a.header.button {
  text-decoration: none;
  background-color: none;
  margin-top: -1vh;
  color: grey;

  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  transition: 0.15s;
  transform-origin: center;
}
a > img {
  margin-top: -10px;
  width: 1.5rem;
  height: 1.5rem;
}
a.header.button:hover {
  transform-origin: center;
  transform: scale(1.5);
  transition: 0.15s;
  color: white;
}
